@font-face {
	font-family: 'LeadDesk';
	src:  url('fonts/LeadDesk.eot?bnu1jx');
	src:  url('fonts/LeadDesk.eot?bnu1jx#iefix') format('embedded-opentype'),
		url('fonts/LeadDesk.ttf?bnu1jx') format('truetype'),
		url('fonts/LeadDesk.woff?bnu1jx') format('woff'),
		url('fonts/LeadDesk.svg?bnu1jx#LeadDesk') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
